<p id="notice"><%= notice %></p>

<p>
  <strong>Saat:</strong>
  <%= @yadavar.saat %>
</p>

<p>
  <strong>Min:</strong>
  <%= @yadavar.min %>
</p>

<p>
  <strong>Tozihat:</strong>
  <%= @yadavar.tozihat %>
</p>

<%= link_to 'Edit', edit_yadavar_path(@yadavar) %> |
<%= link_to 'Back', yadavars_path %>
