<!be name anke parvane heirane ust..>
<div id="login-page">
  <div class="container">
    <div >
      <div class="login-screen">
       
        <div class="form-login">

              <p class="centered"><a href="profile.html"><img src="/assets/login/icon.png" class="img-circle" width="60"></a></p>
              <h5 class="centered">سرو مهر</h5>
              <h2 class="form-login-heading">خوش آمدید</h2>
              </br>
        
          
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= devise_error_messages! %>
            
                  <div class= "login-form">
                    <div class="login-wrap">
                        
                      <%= f.email_field :email, autofocus: true , :class => "form-control " ,:placeholder=>"رايانامه"%>
                      <br>
                      
                      <%= f.password_field :password, autofocus: true, autocomplete: "off" , :class=> "form-control" , :placeholder => "رمز حداقل ۳ کاراکتر "%>
                      <br>

                      <%= f.password_field :password_confirmation, autofocus: true , autocomplete: "off", :class => "form-control " ,:placeholder=> "تکرار رمز" %>    </br> 
                      


                        <%= f.submit "ثبت نام", :class=>"btn btn-theme btn-block"%>
                        <%= render "devise/shared/links" %>
                    </div>
                  </div>
              <% end %>

        </div><!--tahe form login-->
      </div>
    </div>
  </div>
</div>















<!**********************>
<% form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<% render "devise/shared/links" %>




