<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @zekr.name %>
</p>

<p>
  <strong>Tozihat:</strong>
  <%= @zekr.tozihat %>
</p>

<p>
  <strong>Tedad:</strong>
  <%= @zekr.tedad %>
</p>

<%= link_to 'Edit', edit_zekr_path(@zekr) %> |
<%= link_to 'Back', zekrs_path %>
