<p id="notice"><%= notice %></p>

<p>
  <strong>Sadaghe:</strong>
  <%= @man_board.sadaghe %>
</p>

<p>
  <strong>Komak valedein:</strong>
  <%= @man_board.komak_valedein %>
</p>

<p>
  <strong>Namaze aval vaght:</strong>
  <%= @man_board.namaze_aval_vaght %>
</p>

<p>
  <strong>Doroogh:</strong>
  <%= @man_board.doroogh %>
</p>

<p>
  <strong>Gheibat:</strong>
  <%= @man_board.gheibat %>
</p>

<p>
  <strong>Tohmat:</strong>
  <%= @man_board.tohmat %>
</p>

<p>
  <strong>Control khashm:</strong>
  <%= @man_board.control_khashm %>
</p>

<%= link_to 'Edit', edit_man_board_path(@man_board) %> |
<%= link_to 'Back', man_boards_path %>
