<!be name anke parvane heirane ust..>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>DASHGUM - Bootstrap Admin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
    <div id="login-page">
      <div class="container">
        <div >
          <div class="login-screen">
           
            <div class="form-login">

              </br></br></br></br>
              <p class="centered"><a href="profile.html"><img src="/assets/login/icon.png" class="img-circle" width="60"></a></p>
              <h5 class="centered">سرو مهر</h5>
              <h2 class="form-login-heading">خوش آمدید</h2>
              </br>
            
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              
                <div class= "login-form">
                  <div class="login-wrap">

                      <%= f.email_field :email, autofocus: true , :class => "form-control " ,:placeholder=>"رايانامه"%>
                      <br>
                      
                      <%= f.password_field :password, autocomplete: "off" , :class=> "form-control" , :placeholder => "رمز "%>
                  

                      <% if devise_mapping.rememberable? -%>
                        <div class="field">
                          <%= f.check_box :remember_me %>
                          <%= f.label :remember_me %>
                        </div>
                      <% end -%>

                 
                      <%= f.submit "ورود", :class=>"btn btn-theme btn-block"%>
                      <%= render "devise/shared/links" %>
                  </div>
                </div>
              <% end %>
              
            </div><!--tahe form login-->
          </div>
        </div>
      </div>
    </div>

  </body>
</html>








