<%= form_for(@mohr) do |f| %>
  <% if @mohr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mohr.errors.count, "error") %> prohibited this mohr from being saved:</h2>

      <ul>
      <% @mohr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mohr_code %><br>
    <%= f.text_field :mohr_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
