<p id="notice"><%= notice %></p>

<p>
  <strong>Tedad rokat:</strong>
  <%= @namaz.tedad_rokat %>
</p>

<p>
  <strong>Name:</strong>
  <%= @namaz.name %>
</p>

<p>
  <strong>Tozihat:</strong>
  <%= @namaz.tozihat %>
</p>

<p>
  <strong>Tedad:</strong>
  <%= @namaz.tedad %>
</p>

<%= link_to 'Edit', edit_namaz_path(@namaz) %> |
<%= link_to 'Back', namazs_path %>
