<p id="notice"><%= notice %></p>

<h1>Listing Ruzes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tozihat</th>
      <th>Tedad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ruzes.each do |ruze| %>
      <% if ruze.user_id == current_user.id%>
      <tr>
        <td><%= ruze.name %></td>
        <td><%= ruze.tozihat %></td>
        <td><%= ruze.tedad %></td>
        <td><%= link_to 'Show', ruze %></td>
        <td><%= link_to 'Edit', edit_ruze_path(ruze) %></td>
        <td><%= link_to 'Destroy', ruze, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ruze', new_ruze_path %>
