<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ruze.name %>
</p>

<p>
  <strong>Tozihat:</strong>
  <%= @ruze.tozihat %>
</p>

<p>
  <strong>Tedad:</strong>
  <%= @ruze.tedad %>
</p>

<%= link_to 'Edit', edit_ruze_path(@ruze) %> |
<%= link_to 'Back', ruzes_path %>
