<p id="notice"><%= notice %></p>

<p>
  <strong>Saat:</strong>
  <%= @yadavarezekr.saat %>
</p>

<p>
  <strong>Min:</strong>
  <%= @yadavarezekr.min %>
</p>

<p>
  <strong>Tozihat:</strong>
  <%= @yadavarezekr.tozihat %>
</p>

<%= link_to 'Edit', edit_yadavarezekr_path(@yadavarezekr) %> |
<%= link_to 'Back', yadavarezekrs_path %>
