<!DOCTYPE html>
<html>
	<head>
	  <title>Ie</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>




		<section id="container" >


			<% if user_signed_in? %>

			  	  <header class="header black-bg">
				     <div class="sidebar-toggle-box">
				      	<div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
				     </div>
				     <!--logo start-->
				     <a href="index.html" class="logo"><b>مهر سرو</b></a>
				     <!--logo end-->
				            
				     <div class="top-menu">
					     <ul class="nav pull-right top-menu">
					     	 <li>
						     	<%= link_to 'خانه', "/home/index" , :class=>"logout"%>
						     </li>
						     <li>
						     	<%= link_to "پروفايل", profile_path(:id => current_user.id) , :class=>"logout"%>
						     </li>
						     <li>
						     	<%= link_to "برون رفت", destroy_user_session_path, :method => :delete  , :class=>"logout"%> 
						     </li>
						    
					     </ul>
				     </div>
				  </header>
				  <!--header end-->

	

			      <!--sidebar start-->
			      <aside>
			          <div id="sidebar"  class="nav-collapse ">
			              <!-- sidebar menu start-->
			              <ul class="sidebar-menu" id="nav-accordion">
			              
			                  <p class="centered"><a href="profile.html"><img src="/assets/login/icon.png" class="img-circle" width="200"></a></p>
			                  
			                    
			                  <!--<li class="mt">
			                      <a class="active">
			                          <i class="fa fa-dashboard"></i>
			                          <span>نماز ها</span>
				                      <ul class="sub">
				                          <li><%= link_to "همه نمازها", user_namazs_path( :id => current_user.id) %>
				                          <li><a  href="#">قضا ها</a></li>
				                          <li><a  href="#">نمودار اول وقت </a></li>
				                      </ul>
				                  </a>
			                  </li>-->
			                  <li class="sub-menu">
			                      <a href="javascript:;">
			                          <i class="fa fa-desktop"></i>
			                          <span>نماز ها</span>
			                      </a>
				                  <ul class="sub">
				                      <li><%= link_to "...همه نمازها	", user_readed_namazs_path%>
				                      <li><a  href="#">...قضا ها</a></li>
				                      <li><a  href="#">...نمودار اول وقت </a></li>
				                  </ul>
				                  
			                  </li>

			                  <li class="sub-menu">
			                      <a href="javascript:;" >
			                          <i class="fa fa-desktop"></i>
			                          <span>تسبیح</span>
			                      </a>
			                      <ul class="sub">
			                          <li><%= link_to "همه اذکار", user_zekrs_path( :id => current_user.id) %></li>
			                          <li><%= link_to "ذکر های گفته شده", user_said_zekrs_path %></li>
			                        
			                      </ul>
			                  </li>

			                  <li class="sub-menu">
			                      <a href="javascript:;" >
			                          <i class="fa fa-cogs"></i>
			                          <span>روزه ها</span>
			                      </a>
			                      <ul class="sub">
			                          <li><%= link_to "همه روزه ها", user_ruzes_path( :id => current_user.id) %></li>
			                      </ul>
			                  </li>
			                  <li class="sub-menu">
			                      <a href="javascript:;" >
			                          <i class="fa fa-book"></i>
			                          <span>اعمال امروز</span>
			                      </a>

				
			                  </li>
			                  <li class="sub-menu">
			                      <a href="javascript:;" >
			                          <i class="fa fa-tasks"></i>
			                          <span>برد محاسبه نفس</span>
			                      </a>
			                      <ul class="sub">
			                          <li><a  href="#">امروز</a></li>
			                          <li><a  href="#">نمودار</a></li>
			                      </ul>
			                  </li>
			                  <li class="sub-menu">
			                      <a href="javascript:;" >
			                          <i class="fa fa-th"></i>
			                          <span>آموزش</span>
			                      </a>
			                      <ul class="sub">
			                          <li><a  href="#">نماز</a></li>
			                          <li><a  href="#">وضو</a></li>
			                      </ul>
			                  </li>
			                   <li class="sub-menu">
			                      <a href="javascript:;">
			                          <i class="fa fa-desktop"></i>
			                          <span>سرو مهر</span>
			                      </a>
				                  <ul class="sub">
				                      <li><a  href="#">قوانین</a></li>
				                      <li><a  href="#">درباره ما </a></li>
				                      <li><a  href="#">ارتباط با ما </a></li>
				                  </ul>
				                  
			                  </li>

			              </ul>
			              <!-- sidebar menu end-->
			          </div>
			      </aside>
			      <!--sidebar end-->






				<section id="main-content">
			       	<section class="wrapper">

			              <div class="row">
			                  <div class="col-lg-9 main-chart">   <!-- fek konam in khat nabayad bashe&&&&&&&&&&&&&&&^^^^^^^^^^^^^-->

								<%= yield %>					
			                  </div><!-- /col-lg-9 END SECTION MIDDLE --><!-- fek konam in khat nabayad bashe&&&&&&&&&&&&&&&^^^^^^^^^^^^^-->
			                  
			                  
			      <!-- **********************************************************************************************************************************************************
			      RIGHT SIDEBAR CONTENT
			      *********************************************************************************************************************************************************** -->                  
			                  
			                  <div class="col-lg-3 ds">
			                    <!--COMPLETED ACTIONS DONUTS CHART-->
									<h3>NOTIFICATIONS</h3>
			                                        
			                      <!-- First Action -->
			                      <div class="desc">
			                      	<div class="thumb">
			                      		<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
			                      	</div>
			                      	<div class="details">
			                      		<p><muted>2 Minutes Ago</muted><br/>
			                      		   <a href="#">James Brown</a> subscribed to your newsletter.<br/>
			                      		</p>
			                      	</div>
			                      </div>
			                      <!-- Second Action -->
			                      <div class="desc">
			                      	<div class="thumb">
			                      		<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
			                      	</div>
			                      	<div class="details">
			                      		<p><muted>3 Hours Ago</muted><br/>
			                      		   <a href="#">Diana Kennedy</a> purchased a year subscription.<br/>
			                      		</p>
			                      	</div>
			                      </div>
			                      <!-- Third Action -->
			                      <div class="desc">
			                      	<div class="thumb">
			                      		<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
			                      	</div>
			                      	<div class="details">
			                      		<p><muted>7 Hours Ago</muted><br/>
			                      		   <a href="#">Brandon Page</a> purchased a year subscription.<br/>
			                      		</p>
			                      	</div>
			                      </div>
			                      <!-- Fourth Action -->
			                      <div class="desc">
			                      	<div class="thumb">
			                      		<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
			                      	</div>
			                      	<div class="details">
			                      		<p><muted>11 Hours Ago</muted><br/>
			                      		   <a href="#">Mark Twain</a> commented your post.<br/>
			                      		</p>
			                      	</div>
			                      </div>
			                      <!-- Fifth Action -->
			                      <div class="desc">
			                      	<div class="thumb">
			                      		<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
			                      	</div>
			                      	<div class="details">
			                      		<p><muted>18 Hours Ago</muted><br/>
			                      		   <a href="#">Daniel Pratt</a> purchased a wallet in your store.<br/>
			                      		</p>
			                      	</div>
			                      </div>

			                       <!-- USERS ONLINE SECTION -->
									<h3>TEAM MEMBERS</h3>
			                      <!-- First Member -->
			                      <div class="desc">
			                      	<div class="thumb">
			                      		<img class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align="">
			                      	</div>
			                      	<div class="details">
			                      		<p><a href="#">DIVYA MANIAN</a><br/>
			                      		   <muted>Available</muted>
			                      		</p>
			                      	</div>
			                      </div>
			                      <!-- Second Member -->
			                      <div class="desc">
			                      	<div class="thumb">
			                      		<img class="img-circle" src="assets/img/ui-sherman.jpg" width="35px" height="35px" align="">
			                      	</div>
			                      	<div class="details">
			                      		<p><a href="#">DJ SHERMAN</a><br/>
			                      		   <muted>I am Busy</muted>
			                      		</p>
			                      	</div>
			                      </div>
			                      <!-- Third Member -->
			                      <div class="desc">
			                      	<div class="thumb">
			                      		<img class="img-circle" src="assets/img/ui-danro.jpg" width="35px" height="35px" align="">
			                      	</div>
			                      	<div class="details">
			                      		<p><a href="#">DAN ROGERS</a><br/>
			                      		   <muted>Available</muted>
			                      		</p>
			                      	</div>
			                      </div>
			                      <!-- Fourth Member -->
			                      <div class="desc">
			                      	<div class="thumb">
			                      		<img class="img-circle" src="assets/img/ui-zac.jpg" width="35px" height="35px" align="">
			                      	</div>
			                      	<div class="details">
			                      		<p><a href="#">Zac Sniders</a><br/>
			                      		   <muted>Available</muted>
			                      		</p>
			                      	</div>
			                      </div>
			                      <!-- Fifth Member -->
			                      <div class="desc">
			                      	<div class="thumb">
			                      		<img class="img-circle" src="assets/img/ui-sam.jpg" width="35px" height="35px" align="">
			                      	</div>
			                      	<div class="details">
			                      		<p><a href="#">Marcel Newman</a><br/>
			                      		   <muted>Available</muted>
			                      		</p>
			                      	</div>
			                      </div>

			                        <!-- CALENDAR-->
			                        <div id="calendar" class="mb">
			                            <div class="panel green-panel no-margin">
			                                <div class="panel-body">
			                                    <div id="date-popover" class="popover top" style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
			                                        <div class="arrow"></div>
			                                        <h3 class="popover-title" style="disadding: none;"></h3>
			                                        <div id="date-popover-content" class="popover-content"></div>
			                                    </div>
			                                    <div id="my-calendar"></div>
			                                </div>
			                            </div>
			                        </div><!-- / calendar -->
			                      
			                  </div><!-- /col-lg-3 -->
			              </div><! --/row -->
			       </section>
			    </section>
			    <!--main content end-->



				
			      <!--footer start-->
			      <footer class="site-footer">
			          <div class="text-center">
			              سرو مهر
			              <a href="index.html#" class="go-top">
			                  <i class="fa fa-angle-up"></i>
			              </a>
			          </div>
			      </footer>
			      <!--footer end-->


			<!--end of "if user signed in?" -->
	 		<% else %>
	          <!%= link_to "Sign up", new_user_registration_path %>
	          <!%= link_to "Sign in", new_user_session_path %>
	          <%= yield %>
	        <% end %>


		</section>
		<!-- container end -->


	</body><!-- end of main body-->

</html>



