<p id="notice"><%= notice %></p>

<p>
  <strong>Saat:</strong>
  <%= @yadavarenamaz.saat %>
</p>

<p>
  <strong>Min:</strong>
  <%= @yadavarenamaz.min %>
</p>

<p>
  <strong>Tozihat:</strong>
  <%= @yadavarenamaz.tozihat %>
</p>

<%= link_to 'Edit', edit_yadavarenamaz_path(@yadavarenamaz) %> |
<%= link_to 'Back', yadavarenamazs_path %>
